.tmdb-card-detailed-page {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #311414;
  color: whitesmoke;
}

.back-button {
  margin: 2rem 0;
}

.card-detailed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  margin-bottom: 1rem;
}

.genres-text {
  font-size: 0.9rem;
  margin-top: -0.4rem;
}

.poster-image {
  width: 100%;
  border: 3px solid white;
  border-radius: 2.2rem;
}

.no-item {
  padding: 20rem 0;
  font-size: 3rem;
}

.trailer-video {
  width: 100%;
  height: 15rem;
  border: 1px white solid;
  border-radius: 2rem;
}

@media only screen and (min-width: 550px) {
  .card-detailed {
    width: 90%;
  }

  .overview-text {
    font-size: 1.3rem;
    margin-top: -0.2rem;
  }

  .trailer-video {
    height: 25rem;
  }
}

@media only screen and (min-width: 1000px) {
  .trailer-video {
    height: 37rem;
  }
}

@media only screen and (min-width: 2000px) {
  .card-detailed {
    width: 60%;
  }
}
