.homepage {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #311414;
  color: whitesmoke;
}

.intro-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-top: 2rem;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: center;
  border: 1px solid #654848;
  border-radius: 1rem;
  overflow: hidden;
}

.tab {
  text-align: center;
  font-size: 1.3rem;
  background-color: #3e2323;
  padding: 0.65rem 0.7rem;
  width: 50%;
  color: aliceblue;
  text-decoration: none;
}

.tab:first-child {
  border-right: 1px solid #654848;
}

.tab:hover,
.tab:focus {
  color: aliceblue;
  background-color: #230909;
}

.tab-active {
  color: aliceblue;
  background-color: #150202;
}

@media only screen and (min-width: 1000px) {
  .homepage {
    justify-content: center;
    align-items: center;
  }

  .navbar {
    width: 90%;
  }
}

@media only screen and (min-width: 2000px) {
  .navbar {
    width: 80%;
  }
}
